*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    background-color: hsl(27, 66%, 92%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    
}
.header-layout{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 500px;
    height: 80px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 15px;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.child{
    color: white
}
.footer{
    background-color: hsl(33, 100%, 98%);
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
}
#days{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    padding-top: 10px;
}
.label{
    
    padding: 10px;
    
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:  hsl(28, 10%, 53%);
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif
    
}

.label, p{
    align-items: center;
}
.tip{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px !important;
    height: auto !important;
    background-color: hsl(25, 47%, 15%) !important;
    border-radius: 4px;
    padding: 5px;
    color: #fff;
    top: -40px;
    margin-left: -5px;

}

#first{
    display: none;
}
#second{
    display: none;
}
#third{
    display: none;
}
#forth{
    display: none;
}
#fifth{
    display: none;
}
#sixth{
    display: none;
}
#seventh{
    display: none;
}

.table-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.month{
    text-align: right;
}
.month h5:last-of-type{
    color: hsl(28, 10%, 53%);
}
.total:first-of-type{
    color: hsl(28, 10%, 53%);
}
.total h5{
    font-weight: 400;
    
}
.chart-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.bar div{
    position: relative;
    width: 50px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
    cursor: pointer;
    transition: 0.2s all ease-in;
}
.bar{
    display: flex;
    flex-direction: row;
    gap: 20px;justify-content: space-between;
    align-items: flex-end;
    
}
.bar div:hover{
    background-color: hsl(10, 79%, 65%);
}
.bar div:nth-child(1){
    height: 50px;
}

.bar div:nth-child(1):hover #first{
    display: block;
}
.bar div:nth-child(2){
    height: 100px;
}

.bar div:nth-child(2):hover #second{
    display: block;
}
.bar div:nth-child(3){
    height: 150px;
    background-color: hsl(186, 34%, 60%);
}

.bar div:nth-child(3):hover #third{
    display: block;
}
.bar div:nth-child(4){
    height: 90px;
}

.bar div:nth-child(4):hover #forth{
    display: block;
}
.bar div:nth-child(5){
    height: 70px;
}

.bar div:nth-child(5):hover #fifth{
    display: block;
}
.bar div:nth-child(6){
    height: 130px;
}

.bar div:nth-child(6):hover #sixth{
    display: block;
}
.bar div:nth-child(7){
    height: 80px;
}

.bar div:nth-child(7):hover #seventh{
    display: block;
}

